<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132381293586-g913ia1eb0omj8m0mqust2e8dvlm4o9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132381293586-g913ia1eb0omj8m0mqust2e8dvlm4o9b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132381293586-ckmt9ijs7ao2vqjpj5414dsrttdmakbq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPhA26C4tVbiUbWPN1oBJQ7hP9Y49R2Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>132381293586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>automatic.blood.collection.system</string>
	<key>PROJECT_ID</key>
	<string>h-queue-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>h-queue-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132381293586:ios:8d1f7aea9456b22c</string>
	<key>DATABASE_URL</key>
	<string>https://h-queue-dev.firebaseio.com</string>
</dict>
</plist>